<p id="notice"><%= notice %></p>

<p>
  <b>Query:</b>
  <%= @question.query %>
</p>

<p>
  <b>Min selections:</b>
  <%= @question.min_selections %>
</p>

<p>
  <b>Max selections:</b>
  <%= @question.max_selections %>
</p>

<p>
  <b>Ranked:</b>
  <%= @question.ranked %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
