= form_for @answer = Answer.new do |f|
  - if @answer.errors.any?
    .error_messages
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited this survey from being saved:
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li
            = msg
  
  / for each question option render checkbox
  - question.question_options.each do |option|
    = check_box_tag option.id
    = label_tag option.id, option.description
    
    /= f.fields_for :answer_choices do |builder|
    /  = render "answer_choice_fields", f: builder

  .actions
    = f.submit
