%html
  %head
    %title
      Questor
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #user_header
      - if current_user
        Logged in as
        = current_user.email
        \.
        = link_to "Log Out", logout_path
      - else
        = link_to "Sign Up", signup_path
        or
        = link_to "Log in with Facebook", "auth/facebook"
    = yield